*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/*CSS for Header*/

header{
	height: 110vh;
	background: url(../images/island.jpeg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;

}

nav > ul{
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 20px;
}
/*Styling for all buttons*/

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-coco{
	background-color: gray;
	font-size: 15px;
	font-weight: bold;
}

#btnCoco{
	position: absolute;
	right:	100px;
	top: 20px;
	border-color: 1px lightsalmon;
}

#btnCoco:hover{
	top: 15px;
	transition: .3s;
}

/*Disappering Menu CSS*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 150px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 45px;
	visibility: hidden;
}

#megaMenu:hover > .submenu, #megaMenu > .submenu:hover{
	visibility: visible;
}

.submenu > div{
	width: 25%;

}

.submenu > div > p:hover{
	background-color: darkgray;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.header-text > h1{
	font-size: 70px;
}
.header-text > h1, .header-text > p, .header-text > button{
	margin-left: 50px;
}

.header-text > div > .btn{

	margin-top: 20px;
	background-color: gray;
	color: white;
	margin-left: 50px	;
}

div	+ div {
	border-left: 1px solid lightsalmon;
}

div >  h4, div > p{
	margin: 10px 0;
	padding: 0 10px

}





/*#btnleft{
	position: absolute;
	top: 300px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}*/

/* end of button styling*/

/*.web {
	margin-top: 200px;
	margin-left: 50px;
	width: 450px;
	border: solid;
}

.web > h1{
	height:70px;
	font-size: 50px;
}*/





/*End CSS for Header*/


/*Start fo Quote CSS*/

.quote{
	height: 50vh;
	border-bottom: 50px;
	border-bottom: salmon;
	display: flex;
	justify-content: center;
	align-items: center;
}



.quote >div > div{
	text-align: center;
	margin-top: 20px;
}

.quote > div{
	width: 50%
}


.quote > div > div > button{

	margin-top: 20px;
	background-color: gray;
	color: white;
	margin-left: 50px	;
}

/*End of Quote CSS*/


/*Start of Video CSS*/

.video{
	height: 100vh;
	display: flex;
}

.video > .img, .video > .fruit {
	width: 50%;
	margin-top: 100px;
}

.video > .img{
	width: 45%;
}

.video > .img > img{
	margin-left: 100px;
	border-radius: 5px;
}

/* Start of Fruit CSS*/


.video > .fruit{
	margin-left: 20px;
}

.video > .fruit > .create{
	height: 150px;
}

.video > .fruit > .perce{
	display: flex;
}

.video > .fruit > .perce > .left{
	height: 180px;
	width: 50%;
}

.video > .fruit > .perce > .right{
	height: 180px;
	width: 50%;
	margin-left: 10px;
}

.video > .fruit > .perce > .left > h1{
	font-size: 50px;
	margin-left: 8px;
}

.video > .fruit > .perce > .right > h1{
	font-size: 50px;
	margin-left: 8px;
}

.a{
	/*background-color: yellow;*/
	font-size: 20px;
	position: absolute;
}

.aa{
	top: 1280px;
	left: 705px;
}

.ab{
	top: 1280px;
	left: 1015px;
}

.fruit > .create{
	margin-left: 10px;
}
/* End of Fruit CSS*/


/*End of Video CSS*/
.author {
	height: 100vh;
}


/*start of Author CSS*/
.author {
	display: flex;
	flex-direction: column;
/*	justify-content: center;
	align-items: center;*/
	
}

.author > .top{
	height: 100px;
	margin-top: 100px;
	text-align: center;
}

.author > .bottom{
	display: flex;
	height: 300px;
	
	margin-left: 100px;
	margin-right: 100px
}

.author > .bottom > div{
	
	width: 33%;
	border: 2px solid lightgray;
}

.author > .bottom > .aut-a{
	margin-right: 20px;
	/*display: flex;*/
}
/* start bottom Hover*/

.author > .bottom > div:hover{
	/*top: 15px;
	transition: .3s;*/
	-webkit-box-shadow: -15px 20px 5px 1px rgba(66,4,66,0.63);
	-moz-box-shadow: -15px 20px 5px 1px rgba(66,4,66,0.63);
	box-shadow: -15px 20px 5px 1px rgba(66,4,66,0.63);
	
}

}

/* End bottom  hover*/



.author > .bottom > .aut-b{
	margin-right: 20px;
	margin-left: 20px;

}

.author > .bottom > .aut-c{
	margin-left: 20px;

}

.b > img{ 
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
}

.ba > img{
	top: 2050px;
	left: 260px;
}

.bb > img{
	top: 2050px;
	left: 660px;
}
.bc > img{
	top: 2050px;
	left: 1040px;
}

hr {

	margin-top: 180px;
}


.aut-a > div{
	border-top: 1px solid lightgray;
	height: 90px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aut-b > div{
	border-top: 1px solid lightgray;
	height: 90px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aut-c > div{
	border-top: 1px solid lightgray;
	height: 90px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}




/*End of Author CSS*/